{% extends '::base.html.twig' %}

{% block body %}
	<div class="request-cont">
    <div class="border-cont">
<p>{{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}</p>
	</div>
	</div>
{% endblock body %}
